@import '../../styles/customMediaQueries.css';

.root {
    text-align: center;
}
.heading{
    margin:100px 0 40px;
    font-size: 140px;
    color: var(--colorGrey300);
    font-weight: 300;
}
.title{
    text-align: center;
    margin-bottom: 0;
}
.container {
    display:block;
  
    width: 100%;
    margin: auto;
    padding: 20px;
  
    @media (--viewportMedium) {
      max-width: calc(var(--contentMaxWidth) + 72px);
      padding: 0 36px;
    }
  }

.navButtonsContainer{
  margin: 40px 0;
  @media (--viewportMedium) {
    position: sticky;
    bottom: 0px;
    background: rgba(249,249,249,0.9);
    border-top: 1px solid var(--colorGrey100);
    padding: 20px 0 40px;
    margin: 20px 0;
  }

}

.navButtons{  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.backButton, .nextButton {
  width: 140px;
}

.backButton {
  border-color: var(--colorGrey100);
  background-color: var(--colorGrey50);
  &:hover {
    background-color: white;
  }
}

.progressMessage {
  color: var(--colorGrey300);
  font-size: 16px;
  margin-bottom: 10px;
  margin-top:20px;
  display:none;

  @media (--viewportMedium) {
    display:block;
  }
}

.progressSpinner {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.quizSuccessContainer {
  text-align: center;
  padding: 100px 40px;
}