@import '../../../styles/customMediaQueries.css';

.quizContainer {
    margin:0;
    padding:0;

    height: calc(100vh - 230px);
    min-height: 400px;

    @media (--viewportMedium) {
        margin:5px -30px 0 -30px;
        height: calc(100vh - 450px);
    }

    @media (--viewportLarge) {
        height: calc(100vh - 450px);
    }
}

.quizIframe {
  width: 100%;
  height: 100%;
  border: none;
}