@import '../../../styles/customMediaQueries.css';

.root {
    width: 100%;
}
.title {
    text-align: center;
    margin:  20px;
    opacity: 0;
    font-size: 16px;

    @media (--viewportMedium) {
        font-size: 20px;
    }

}
.player {
    width: 100%;
    height: 300px;

    @media (--viewportMedium) {
        height: 400px;
    }
}
.progress{
    height: 24px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--colorGrey500);

    label {
        font-size: 11px;
        line-height: 1;
    }
}

.playerWrapper {
  position: relative;
}

.overlayTop, .overlayBottom, .overlayMiddle {
    position: absolute;
    background: transparent;
    z-index: 10;
}
.overlayTop {
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    @media (--viewportMedium) {
        width: calc(100% - 150px);
    }
}

.overlayBottom {
    bottom: 0;
    right: 50px;
    height: 40px;
    width: 80px;
}

.overlayMiddle {
    bottom: 70px;
    width: calc(100% - 100px);
    height: 100px;
}