@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.form {
  flex-grow: 1;
}

.priceCurrencyInvalid {
  color: var(--colorFail);
}

svg.infoIcon {
  margin-right: 5px;
  width: 13px;
  height: 13px;
}

.locationNote {
  color: var(--colorGrey500);
  margin-bottom: 40px;
  font-size: 13px;
}
